
.subscribe-button {
  background-color: rgba(255, 0, 0, 0.853);
  color: white;
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  border-bottom: 10px;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 30px;
  margin-left: 20px;
  transition: opacity 0.15s;
  vertical-align: top;
}

/* .subscribe-button:hover {
  background-color: green;
} */

.subscribe-button:hover {
  opacity: 0.3;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(90, 14, 190);
  border-style: solid;
  color: rgbrgb(95, 19, 216);
  border-width: 1px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  

  transform: background-color 1s,
  color 1s;
}

.join-button:hover {
  background-color: rgb(85, 10, 255);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgba(96, 28, 243, 0.853);
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px red;
}



