header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1x;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 227, 227);

}


.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-right: 16px;
}

.youtube-logo {
  height: 24px;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 300px; 
}

.search-bar {
  width: 100%; 
  height: 25px; 
  padding: 0 5px;
  font-size: 12px; 
  border: 1px solid #ddd;
  border-right: none; 
  border-radius: 2px 0 0 2px; 
  box-sizing: border-box;
}

.search-button,
.voice-search-button {
  height: 25px; 
  width: 40px; 
  border: 1px solid #ddd;
  border-radius: 0 2px 2px 0; 
  border-left: none;
  background-color: #f1f1f1; 
  cursor: pointer;
}

.search-button img {
  height: 16px; 
}

.voice-search-button {
  height: 36px; 
  width: 36px; 
  margin-left: 8px; 
  border: none; 
  border-radius: 50%; 
  background-color: #f1f1f1; 
  cursor: pointer;
}

.voice-search-button img {
  height: 18px; 
}

.search-button .tooltip,
.voice-search-button .tooltip {
  position:absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
}

.search-button:hover .tooltip {
  opacity: 1;
}



.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height :24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user-picture {
  height: 32px;
}


